<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="jJa87aK1OpXfjojryBk2Db6thv0K3bSZeYTuW8hF4Ns">
  <input type="submit" value="Submit">
</form>